.error {
    width:200px;
    height:20px;
    height:auto;
    position:absolute;
    left:50%;
    margin-left:-100px;
    bottom:10px;
    background-color: #383838;
    color: #F0F0F0;
    font-family: Calibri;
    font-size: 20px;
    padding:10px;
    text-align:center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}
.fixdiv{
    position: fixed;
    top: 0;
    left: 0;
    background: #170E48;
    width: 100%;
}
.fixdiv-left{
    position: fixed;
    top: 100;
    left: 0;
}
.fixdiv-right{
    position: fixed;
    top: 100;
    right: 0;
}
.solomobile{
    display: none;
}




/* MOBILE */


@media screen and (max-width: 768px) {
    .fixdiv-left{
        display: none;
    }
    .fixdiv-right{
        display: none;
    }
    .solomobile{
        display: inline;
    }
}
